<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="index.css" />
</head>

<body>
    <div id="vueapp">
        <script type="text/x-template" id="tree-template">
            <li>
                <div @click="toggle">
                    <p>{{model.Name}}</p>
                    <div v-html="highlight(codeContents)"></div>
                    <span v-if="model.Children.length != 0">[{{open ? '-' : '+'}}]</span>
                </div>
                <ul v-show="open" v-if="model.Children.length != 0" class="syntaxTree">
                    <item class="item" v-for="model in model.Children" :model="model">
                    
                    </item>
                </ul>
            </li>
        </script>
        <ul class="syntaxTree">
            <item class="item" :model="treeData"></item>
        </ul>
    </div>
    <!--<script src="highlight/highlight.pack.js" type="text/javascript"></script>-->
    <script src="js/bundle.js" type="text/javascript"></script>
</body>

</html>